/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f57777; /* Dark background color */
    color: #fff; /* White text color */
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery-item {
    width: calc(33.33% - 20px); /* Three items per row with spacing between */
    margin-bottom: 20px;
    position: relative;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    transform: scale(1.05);
}

.contact-form {
    max-width: 500px;
    margin: 0 auto;
}

.contact-form input[type="text"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #3e81ed;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-form input[type="submit"] {
    background-color: #4af258;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form input[type="submit"]:hover {
    background-color: #52cef0;
}

footer {
    background-color: #e75fcc; /* Dark background color */
    color: #fff; /* White text color */
    text-align: center;
    padding: 20px 0;
}
